@charset "utf-8";
main {
  width: 80%;
  max-width: 800px;
  margin: auto;
}
header {
  text-align: center;
}
ul {
  list-style: none;
}
.alahuzas {
  text-decoration: underline;
}
.datum {
  line-height: 25mm;
}
section {
  display: grid;
  grid-template-areas: "s s";
  grid-area: s;
}
.alairas{
    text-align: center;
}
