@charset "utf-8";
*{
    box-sizing: border-box;
 
}
main{
    width:210mm;
    height:297mm;
    margin:auto;
}
header{
 text-align: center;
}
article h3{
    text-align: center;
    padding-bottom: 50px;
}
.datum{
    padding:50px 0 50px 0;
}
